<div class="video-item-container"
  [class.active]="active"
  [class.nothover]="nothover"
  [ngClass]="open? 'close' : 'open' ">
  <div class="video-item-wrapper">
    <div class="block">
      <div class="drag-icon" >
        <ng-content select="[dragHandler]">
        </ng-content>
      </div>


      <div class="thumbnail">
        <img [src]="video?.thumbnail?.url" alt="">
      </div>
      <div class="video-info">
        <div class="name">{{video?.title}}</div>
        <div class="channel-name">
          <img width="20px" class="avatar" src="assets/avatar.svg" alt="">
          {{video?.requester?.nickname}}</div>
      </div>
    </div>
    <div class="actions">
      <button mat-icon-button *ngIf="nowPlaying" (click)="this.optionSelected.emit('skip')">
        <img src="assets/skip-playlist-video-icon.svg" alt="">
      </button>
    </div>
  </div>
</div>
