:host(.isDragging) {
  .video-item-container {
    background: #1b1b21;
    border: 0.5px solid #393939;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right: none;
    .drag-icon {
      display: block !important;
      height: 24px;
      align-self: center;
    }
    .block {
      .thumbnail {
        padding-left: 0;
      }
    }
  }
}

.video-item-container{
  cursor: pointer;
  margin-bottom: 10px;
  border: 0.5px solid transparent;
  &:not(.nothover):hover,
  &.active {
    background: #1b1b21;
    border: 0.5px solid #393939;
    border-radius: 8px;
    .video-item-wrapper {
      height: 100%;

      .block {
        .thumbnail {
          padding-left: 0;
        }
      }
      .drag-icon {
        display: block;
      }
    }
  }
  .video-item-wrapper {
    padding: 15px 0 12px 10px;
  }

  .video-item-wrapper {
    display: flex;
    overflow: hidden;
    transition: 300ms all;
    justify-content: space-between;
    padding: 16px ​0 15px 15px;

    .drag-icon {
      display: none;
      height: 24px;
      margin-right: 25px;
      align-self: center;
    }
    .block {
      display: flex;

      .thumbnail {
        height: 95px;
        width: 150px;
        min-width: 150px;
        margin-right: 10px;
        border-radius: 4px;
        img {
          width: 100%;
          height: 100%;
          border-radius: 4px;
        }
      }
      .video-info {
        display: flex;
        flex-direction: column;
        max-width: 230px;
        justify-content: space-between;
        padding-right: 10px;
        .name {
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px;
          letter-spacing: 0em;
          text-align: left;

          color: #c4c4c4;
        }
        .channel-name {
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 16px;
          letter-spacing: 0em;
          text-align: left;

          color: #8e96a1;
          /* or 12px */
          display: flex;
          align-items: center;
          img{
            margin-right: 10px;
          }
        }
        .time {
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 100%;
        }
      }
    }
    .actions {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
    }
  }
}
