<div class="video-item-container" [class.active]="active" [ngClass]="open? 'close' :  'open' ">
  <div class="video-item-wrapper">
    <div class="block">
      <div class="drag-icon" >
        <ng-content select="[dragHandler]">
        </ng-content>
      </div>


      <div class="thumbnail">
        <img [src]="video?.thumbnail?.url" alt="">
      </div>
      <div class="video-info">
        <div class="name">{{video?.title}}</div>
        <div class="channel-name">{{video?.creator}}</div>
      </div>
    </div>
    <div class="actions">
      <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </div>
</div>
