<div class="container">
  <div class="content">
    <div width="100%" height="100%" class="player" #player id="ytplayer" type="text/html"
    frameborder="0" allow="autoplay"></div>
  </div>
  <div class="sidenav">
    <pzl-expansion-panel *ngIf="myroom?.playlist.length > 0"open="true">
      <pzl-expansion-panel-header  (click)="playlistOpen = !playlistOpen">
        <div class="header-wrapper">
          <div class="next-video">
            <div class="title">
              <span>{{playlistOpen ? 'Playlist' : 'Próximo Video'}}</span>
            </div>
            <app-video-item  [video]="myroom?.playlist[0]" [open]="playlistOpen"></app-video-item>
          </div>
        </div>
      </pzl-expansion-panel-header>
      <pzl-expansion-panel-content>
        <div class="content-wrapper">
          <ng-container *ngFor="let video of myroom?.playlist">
            <app-video-item [video]="video" (click)="playVideo(video.url)" ></app-video-item>
          </ng-container>
        </div>

      </pzl-expansion-panel-content>
    </pzl-expansion-panel>

    <div class="player-controllers">
      <ul>
        <li *ngFor="let video of myplaylist">
          {{video.url}}
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-bar">
  <button (click)="addQueue(inputUrl.value); inputUrl.value = '' ;isModalChangeMusicOpen = !isModalChangeMusicOpen">Tocar Musica</button>
  <!-- <div *ngIf="isModalChangeMusicOpen" class="input-popup"> -->
    <input style="width: 40%; margin-right: 10px;" #inputUrl type="text" placeholder="Video Url ou ID">
  <!-- </div> -->

  <div class="nowplaying">
    <div class="thumbnail"></div>
    <div class="info"></div>
  </div>
</div>


<div *ngIf="tapume" class="tapume">
  <button (click)="connect()">
    ENTRAR
  </button>
</div>
