<div class="container">
  <div class="content">
    <div class="users">
      <!-- <h1>Usuarios online na sala: {{myroom?.name}}</h1> -->
      <div class="user-container">
        <h1 class="online-users-title">Puzzli</h1>
        <div class="users-wrapper">
          <ng-container *ngFor="let user of myroom?.users">
            <img class="avatar" src="assets/avatar.svg" alt="">
          </ng-container>
        </div>
      </div>
      <div class="invite-wrapper">
        <button>Invite</button>
      </div>
    </div>
    <div *ngIf="this.myroom == undefined || !this.myroom?.playing " class="player-placeholder">
    </div>
    <!-- <h1> Current Playing</h1> -->
    <div class="player-container">
      <div width="100%" height="100%" class="player" #player id="ytplayer" type="text/html" frameborder="0"
        allow="autoplay"></div>
    </div>
  </div>


  <div class="sidenav">
    <div class="footer-bar">
      <button (click)="addQueue(inputUrl.value);
        inputUrl.value = '' ;
        isModalChangeMusicOpen = !isModalChangeMusicOpen">
        Add Video
      </button>
      <input style="width: 100%; margin-right: 10px;" #inputUrl type="text" placeholder="ex: youtube.com/musicadowill">
    </div>

    <ng-containter *ngIf="myroom?.nowPlaying?.music">
      <div class="pzli-current-track">
        <h1 class="pzli-current-track-title">Current Playing</h1>
        <app-video-item [video]="myroom?.nowPlaying?.music" [open]="playlistOpen" [nothover]="true">
          <img dragHandler cdkDragHandle src="assets/Dots24px.svg" alt="">
        </app-video-item>
      </div>
    </ng-containter>

    <div class="pzli-playlist" #playlist [class.open]="myroom?.playlist?.length > 0 &&  playlistOpen"
      [class.closed]="!playlistOpen " [class.no-current-track]="!nowPlaying">
      <div class="pzli-playlist-container">
        <div class="pzli-playlist-header">
          <h1 class="pzli-playlist-header-title">Next Videos</h1>
        </div>
        <div class="pzli-playlist-content">
          <div class="empty-warning" *ngIf="myroom?.playlist && playlistOpen && !myroom?.playlist?.length">
            <p>Empty Playlist, please add a Video.</p>
            <a (click)="focusInput()"> Add Video</a>

          </div>
          <div class="content-wrapper" cdkDropList class="example-list" class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div *ngFor="let video of myroom?.playlist" cdkDrag (cdkDragStarted)="dragStart($event)"
              (cdkDragEnded)="dragEnd($event)" [cdkDragPreviewClass]="'isDragging'" [cdkDragLockAxis]="'y'">
              <app-video-item [video]="video">
                <img dragHandler cdkDragHandle src="assets/Dots24px.svg" alt="">
                <!-- <img dragHandler cdkDragHandle src=".../../../../../assets/Dots24px.svg" alt=""> -->

              </app-video-item>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- <div #chatbox class="pzli-chatbox-container" [class.playlistfull]="myroom?.playlist?.length >= 4">
      <div #chatboxwrapper class="pzli-chatbox-wrapper">
      </div>
    </div> -->
  </div>
</div>



<div *ngIf="tapume" class="tapume">
  <button (click)="connect()">
    ENTRAR
  </button>
</div>
