:host .expansion-wrapper {
  color: #c4c4c4;
}
.container {
  height: 100%;
  color: #c4c4c4;
  background: #17171a;
  display: flex;
  .content {
    background: #17171a;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 32px;
    box-sizing: border-box;
    overflow: auto;
    .player-controllers {
      position: absolute;
    }
    .player {
      width: 100% !important;
      height: 100% !important;
    }
  }
  .sidenav {
    display: flex;
    flex-direction: column;
    width: 600px;
    min-width: 600px;
    background: #17171a;
    color: #c4c4c4;
    padding: 0 0 32px 32px;
    padding-bottom: 32px;

    pzl-expansion-panel {
      border-radius: 30px;
    }
    div.header-wrapper,
    .content-wrapper {
      background: #1c1d1f;
      border: 1px solid #242424;
    }
    .header-wrapper {
      .next-video {
        overflow: hidden;
        .title {
          margin: 10px;
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 108%;
          /* or 15px */
        }
      }
    }
    .content-wrapper {
      // padding: 0 15px 15px 15px;
      border-top: none;
      max-height: 408px;
      overflow: auto;
    }
  }
}
.player {
  width: 100% !important;
}

.footer-bar {
  height: 80px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  padding: 32px;
  input {
    max-width: 353px;
  }
  .input-popup {
  }
}

.tapume {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  top: 0;
}
.pzli-chatbox-container {
  background: #1c1d1f;
  border: 1px solid #242424;
  border-radius: 4px;
  margin-top: 20px;
  height: calc(100% - 530px);
  transition: height 300ms;
  flex: 1;
  padding: 25px;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  &::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: rgba(#8c8c8c, 7%);
    margin: 16px;
    border-radius: 100px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #48f077;
    height: 93px;
    border-radius: 100px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #48f077;
  }

  .pzli-chatbox-wrapper {
    display: flex;
    flex-direction: column;
    p {
      margin-top: auto;
      justify-self: flex-end;
    }
  }
}
.pzli-playlist {
  height: 100%;
  min-height: calc(100% - 300px);
  height: calc(100% - 300px);
  max-height: calc(100% - 100px);
  // &.no-current-track{
  //   min-height: calc( 100% - 100px);
  //   height: calc( 100% - 100px);
  //   max-height: calc( 100% - 100px);
  // }
  &-container {
    // background: #1c1d1f
    // border: 1px solid #242424;
    border-radius: 4px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &-header {
    &-title {
      font-size: 18px;
      font-style: italic;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0px;
      text-align: left;
      color: rgba(142, 150, 161, 1);
    }
  }
  &-content {
    height: 100%;
    overflow: hidden;
    transition: all 300ms;
    flex: 1;
    .empty-warning {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 50px;
    }
  }
}

input:focus {
  outline-color: white;
  border-color: white;
}

a {
  text-decoration: underline;
  cursor: pointer;
}

.player-placeholder {
  position: absolute;
  width: 100%;
  padding-bottom: 56%;
  position: absolute;
  background: #1c1d1f;
  border: 1px solid #242424;
  display: block;
  top: 0;
  left: 0;
}

.player-container {
  width: 100%;
  padding-bottom: 56%;
  position: absolute;
}

.cdk-drag-placeholder {
  app-video-item {
    ::ng-deep {
      .app-video-item-container {
        background: #1b1b21 !important;
        border: 0.5px solid #393939;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        border-right: none;
      }
    }
  }
}

.pzli-playlist-content {
  overflow: auto;
  scrollbar-color: #48f077 rgba(#8c8c8c, 7%);
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: rgba(#8c8c8c, 7%);
    margin: 16px;
    border-radius: 100px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #48f077;
    height: 93px;
    border-radius: 100px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #48f077;
  }
}

.pzli-current-track {
  height: 100%;
  &-title {
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(142, 150, 161, 1);
  }
}

.users {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1{
    margin-bottom: 0 !important;
  }
  .avatar {
    margin: 10px;
  }
  .invite-wrapper{
    margin-top: 15px;
  }
}
