<div class="container">
  <div class="content">
    <div width="100%" height="100%" class="player" #player id="ytplayer" type="text/html"
    frameborder="0" allow="autoplay"></div>
  </div>
  <div class="sidenav">
    <div class="player-controllers">
      <ul>
        <li *ngFor="let video of myplaylist">
          {{video.url}}
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-bar">
  <button (click)="addQueue(inputUrl.value); inputUrl.value = '' ;isModalChangeMusicOpen = !isModalChangeMusicOpen">Tocar Musica</button>
  <!-- <div *ngIf="isModalChangeMusicOpen" class="input-popup"> -->
    <input style="width: 40%; margin-right: 10px;" #inputUrl type="text" placeholder="Video Url ou ID">
  <!-- </div> -->

  <div class="nowplaying">
    <div class="thumbnail"></div>
    <div class="info"></div>
  </div>
</div>


<div *ngIf="tapume" class="tapume">
  <button (click)="connect()">
    ENTRAR
  </button>
</div>
