/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
  margin: 0;
}
button,
a.pzl-btn {
  background: #48f077;
  padding: 15px 20px;
  border: none;
  color: white;
  width: fit-content;
  border-radius: 8px;
  cursor: pointer;
}
input {
  // outline: #696969 solid 1px;
  outline: none;
  width: 100%;
  background: #17171a;
  border: 1px solid #292929;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: #424242;
}
* {
  font-family: 'Roboto';
  color: #c4c4c4;
}
