.home {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #17171a;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;

  .login-container {
    background: #1B1B21;
    width: 100%;
    height: 100%;
    margin: auto 25%;
    box-shadow:0 0px 2px 12px rgb(0 0 0 / 2%);
    border-radius: 8px;
    max-width: 540px;
    .login-wrapper {
      display: flex;
      flex-direction: column;
      padding: 50px;
      box-sizing: border-box;
      align-items: center;
      justify-content: center;
    }
  }
}
button,
a.pzl-btn {
  background: #48f077;
  padding: 15px 20px;
  border: none;
  color: #23232A;
  width: fit-content;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600 ;
}
.createRoom {
  width: 100%;
  // margin-bottom: 50px;
}
.goToRoom {
  align-self: flex-end;
  margin-top: 55px;
}
.divider {
  margin: 50px 0;
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 29px;
  color: #424242;
}
.pzli-input-group{
  width: 100%;
  display: flex;
  flex-direction: column;
  label{
    margin-bottom:16px;
  }
}

input {
  // outline: #696969 solid 1px;
  outline: none;
  width: 100%;
  background: #23232A;
  border: 1px solid #2E2E3C;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  color: #cecece;
  margin-bottom: 52px
}
input:focus{
  border: 1px solid rgba(72, 240, 119, 0.1);

}

.pzli-text-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  max-width: 379px;
  .title{
    color: #BCBBC9;
    margin: 0;
    margin-bottom: 8px;

  }
  .title, .copy{
  }
  .copy{
    margin: 0;
    margin-bottom: 22px;
    color:#818394;
  }
}
